.why-choose-us {
  background: linear-gradient(to bottom, #fffdf9, #fef6e4);
}

.main-heading {
  color: #0a2e61;
  font-weight: 700;
  font-size: 2.5rem;
}

.sub-heading {
  color: #5a5a5a;
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
}

/* Responsive Image */
.center-image {
  width: 100%;
  max-width: 260px;
  transform: translate(-20%,20% );
  transition: all 0.3s ease;
}

/* Responsive Tweaks */
@media (max-width: 991px) {
  

  .main-heading {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1rem;
    padding: 0 2px;
  }

  .center-image {
    max-width: 100px;
    width: 100%;
    transform: translate(-20%,20% );
  }

  .feature h5 {
    font-size: .8rem;
    text-align: center;
  }

  .feature p {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main-heading {
    font-size: 1.75rem;
  }

  .sub-heading {
    font-size: 0.95rem;
  }

  .center-image {
    max-width: 100px;
    
  }
  .feature {
    padding: 0 10px;
  }
  .text-success{
    font-size: 12px;
  }
}
